.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  margin: 36.25px auto 0;
}

@media screen and (max-width: 915px) {
  .profile {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    margin-top: 38.25px;
    flex-direction: column;
  }
}
